USE [master]
GO
/****** Object:  Database [EmployeeManagement]    Script Date: 11/12/2025 6:29:48 PM ******/
CREATE DATABASE [EmployeeManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EmployeeManagement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\EmployeeManagement.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EmployeeManagement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\EmployeeManagement_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EmployeeManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EmployeeManagement]
GO
/****** Object:  User [Pinlo\pinlo]    Script Date: 11/12/2025 6:29:49 PM ******/
CREATE USER [Pinlo\pinlo] FOR LOGIN [Pinlo\pinlo] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [Pinlo\pinlo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [Pinlo\pinlo]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [Pinlo\pinlo]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 11/12/2025 6:29:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[AccountID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[FullName] [nvarchar](255) NULL,
	[Role] [nvarchar](50) NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ActivityLogs]    Script Date: 11/12/2025 6:29:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActivityLogs](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[AccountID] [int] NULL,
	[ActionType] [nvarchar](50) NULL,
	[TargetTable] [nvarchar](50) NULL,
	[TargetID] [int] NULL,
	[ActionTime] [datetime] NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 11/12/2025 6:29:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[DepartmentID] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentName] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 11/12/2025 6:29:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[AccountID] [int] NULL,
	[FullName] [nvarchar](255) NOT NULL,
	[DateOfBirth] [date] NULL,
	[Gender] [nvarchar](10) NULL,
	[Address] [nvarchar](255) NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[DepartmentID] [int] NULL,
	[Position] [nvarchar](100) NULL,
	[BaseSalary] [decimal](12, 2) NULL,
	[StartDate] [date] NULL,
	[AvatarUrl] [nvarchar](255) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Leaves]    Script Date: 11/12/2025 6:29:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Leaves](
	[LeaveID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [int] NULL,
	[LeaveType] [nvarchar](50) NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[DaysCount]  AS (datediff(day,[StartDate],[EndDate])+(1)) PERSISTED,
	[Status] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[LeaveID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 11/12/2025 6:29:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[NotificationID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NULL,
	[Message] [nvarchar](max) NULL,
	[TargetDepartmentID] [int] NULL,
	[CreatedBy] [int] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payrolls]    Script Date: 11/12/2025 6:29:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payrolls](
	[PayrollID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [int] NULL,
	[BaseSalary] [decimal](12, 2) NULL,
	[Allowances] [decimal](12, 2) NULL,
	[Bonuses] [decimal](12, 2) NULL,
	[Penalties] [decimal](12, 2) NULL,
	[TotalIncome]  AS ((([BaseSalary]+[Allowances])+[Bonuses])-[Penalties]) PERSISTED,
	[PayDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[PayrollID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Timesheets]    Script Date: 11/12/2025 6:29:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Timesheets](
	[TimesheetID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [int] NULL,
	[WorkDate] [date] NULL,
	[CheckIn] [time](7) NULL,
	[CheckOut] [time](7) NULL,
	[HoursWorked] [decimal](5, 2) NULL,
	[OvertimeHours] [decimal](5, 2) NULL,
	[LeaveType] [nvarchar](50) NULL,
	[Status] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[TimesheetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Accounts] ON 

INSERT [dbo].[Accounts] ([AccountID], [Username], [PasswordHash], [FullName], [Role], [IsActive], [CreatedAt]) VALUES (1, N'admin', N'1', N'Nguyễn Văn Quản', N'Admin', 1, CAST(N'2025-11-11T17:27:01.277' AS DateTime))
INSERT [dbo].[Accounts] ([AccountID], [Username], [PasswordHash], [FullName], [Role], [IsActive], [CreatedAt]) VALUES (2, N'nhanvien1', N'1', N'Lê Thị Hương', N'Employee', 1, CAST(N'2025-11-11T17:27:01.277' AS DateTime))
INSERT [dbo].[Accounts] ([AccountID], [Username], [PasswordHash], [FullName], [Role], [IsActive], [CreatedAt]) VALUES (3, N'nhanvien2', N'1', N'Trần Văn Minh', N'Employee', 1, CAST(N'2025-11-11T17:27:01.277' AS DateTime))
SET IDENTITY_INSERT [dbo].[Accounts] OFF
GO
SET IDENTITY_INSERT [dbo].[ActivityLogs] ON 

INSERT [dbo].[ActivityLogs] ([LogID], [AccountID], [ActionType], [TargetTable], [TargetID], [ActionTime], [Description]) VALUES (1, 1, N'CREATE', N'Employees', 1, CAST(N'2025-11-11T17:27:01.283' AS DateTime), N'Thêm nhân viên Lê Thị Hương')
INSERT [dbo].[ActivityLogs] ([LogID], [AccountID], [ActionType], [TargetTable], [TargetID], [ActionTime], [Description]) VALUES (2, 1, N'UPDATE', N'Payrolls', 2, CAST(N'2025-11-11T17:27:01.283' AS DateTime), N'Cập nhật bảng lương tháng 10')
INSERT [dbo].[ActivityLogs] ([LogID], [AccountID], [ActionType], [TargetTable], [TargetID], [ActionTime], [Description]) VALUES (3, 2, N'LOGIN', N'Accounts', 2, CAST(N'2025-11-11T17:27:01.283' AS DateTime), N'Nhân viên Lê Thị Hương đăng nhập hệ thống')
SET IDENTITY_INSERT [dbo].[ActivityLogs] OFF
GO
SET IDENTITY_INSERT [dbo].[Departments] ON 

INSERT [dbo].[Departments] ([DepartmentID], [DepartmentName], [Description], [CreatedAt]) VALUES (1, N'Phòng Kế Toán', N'Quản lý tài chính và sổ sách kế toán', CAST(N'2025-11-11T17:27:01.280' AS DateTime))
INSERT [dbo].[Departments] ([DepartmentID], [DepartmentName], [Description], [CreatedAt]) VALUES (2, N'Phòng Nhân Sự', N'Quản lý thông tin nhân viên và tuyển dụng', CAST(N'2025-11-11T17:27:01.280' AS DateTime))
INSERT [dbo].[Departments] ([DepartmentID], [DepartmentName], [Description], [CreatedAt]) VALUES (3, N'Phòng Kỹ Thuật', N'Phát triển và bảo trì hệ thống công ty', CAST(N'2025-11-11T17:27:01.280' AS DateTime))
SET IDENTITY_INSERT [dbo].[Departments] OFF
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([EmployeeID], [AccountID], [FullName], [DateOfBirth], [Gender], [Address], [Phone], [Email], [DepartmentID], [Position], [BaseSalary], [StartDate], [AvatarUrl], [CreatedAt]) VALUES (1, 7, N'Lê Thị Hương', CAST(N'1995-03-15' AS Date), N'Nữ', N'12 Lê Lợi, Hà Nội', N'0987654321', N'huong.le@company.com', 1, N'Kế toán viên', CAST(12000000.00 AS Decimal(12, 2)), CAST(N'2021-05-10' AS Date), N'uploads/huong.jpg', CAST(N'2025-11-11T17:27:01.280' AS DateTime))
INSERT [dbo].[Employees] ([EmployeeID], [AccountID], [FullName], [DateOfBirth], [Gender], [Address], [Phone], [Email], [DepartmentID], [Position], [BaseSalary], [StartDate], [AvatarUrl], [CreatedAt]) VALUES (2, 3, N'Trần Văn Minh', CAST(N'1992-08-22' AS Date), N'Nam', N'34 Nguyễn Huệ, Đà Nẵng', N'0912345678', N'minh.tran@company.com', 3, N'Kỹ sư phần mềm', CAST(18000000.00 AS Decimal(12, 2)), CAST(N'2020-01-20' AS Date), N'uploads/minh.jpg', CAST(N'2025-11-11T17:27:01.280' AS DateTime))
INSERT [dbo].[Employees] ([EmployeeID], [AccountID], [FullName], [DateOfBirth], [Gender], [Address], [Phone], [Email], [DepartmentID], [Position], [BaseSalary], [StartDate], [AvatarUrl], [CreatedAt]) VALUES (4, 8, N'Nguyễn Thanh Phong', CAST(N'2004-06-15' AS Date), N'Nam', N'BS16', N'0399117806', N'pinlo752004@gmail.com', 3, N'HR', CAST(16000000.00 AS Decimal(12, 2)), NULL, N'https://hoanghamobile.com/tin-tuc/wp-content/uploads/2024/07/anh-avatar-dep-cho-con-gai-2.jpg', CAST(N'2025-11-12T03:57:53.540' AS DateTime))
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[Leaves] ON 

INSERT [dbo].[Leaves] ([LeaveID], [EmployeeID], [LeaveType], [StartDate], [EndDate], [Status]) VALUES (1, 1, N'Nghỉ phép năm', CAST(N'2025-10-10' AS Date), CAST(N'2025-10-12' AS Date), N'Approved')
INSERT [dbo].[Leaves] ([LeaveID], [EmployeeID], [LeaveType], [StartDate], [EndDate], [Status]) VALUES (2, 2, N'Nghỉ bệnh', CAST(N'2025-10-25' AS Date), CAST(N'2025-10-26' AS Date), N'Approved')
SET IDENTITY_INSERT [dbo].[Leaves] OFF
GO
SET IDENTITY_INSERT [dbo].[Notifications] ON 

INSERT [dbo].[Notifications] ([NotificationID], [Title], [Message], [TargetDepartmentID], [CreatedBy], [CreatedAt]) VALUES (1, N'Thông báo họp công ty', N'Toàn thể nhân viên tham gia họp lúc 9h sáng thứ Hai tới.', NULL, 1, CAST(N'2025-11-11T17:27:01.283' AS DateTime))
INSERT [dbo].[Notifications] ([NotificationID], [Title], [Message], [TargetDepartmentID], [CreatedBy], [CreatedAt]) VALUES (2, N'Nhắc nhở nộp bảng chấm công', N'Các phòng ban hoàn thiện bảng chấm công tháng 10 trước ngày 5/11.', 2, 1, CAST(N'2025-11-11T17:27:01.283' AS DateTime))
SET IDENTITY_INSERT [dbo].[Notifications] OFF
GO
SET IDENTITY_INSERT [dbo].[Payrolls] ON 

INSERT [dbo].[Payrolls] ([PayrollID], [EmployeeID], [BaseSalary], [Allowances], [Bonuses], [Penalties], [PayDate]) VALUES (1, 1, CAST(12000000.00 AS Decimal(12, 2)), CAST(2000000.00 AS Decimal(12, 2)), CAST(1000000.00 AS Decimal(12, 2)), CAST(0.00 AS Decimal(12, 2)), CAST(N'2025-11-11' AS Date))
INSERT [dbo].[Payrolls] ([PayrollID], [EmployeeID], [BaseSalary], [Allowances], [Bonuses], [Penalties], [PayDate]) VALUES (2, 2, CAST(18000000.00 AS Decimal(12, 2)), CAST(1500000.00 AS Decimal(12, 2)), CAST(2000000.00 AS Decimal(12, 2)), CAST(500000.00 AS Decimal(12, 2)), CAST(N'2025-11-11' AS Date))
SET IDENTITY_INSERT [dbo].[Payrolls] OFF
GO
SET IDENTITY_INSERT [dbo].[Timesheets] ON 

INSERT [dbo].[Timesheets] ([TimesheetID], [EmployeeID], [WorkDate], [CheckIn], [CheckOut], [HoursWorked], [OvertimeHours], [LeaveType], [Status]) VALUES (1, 1, CAST(N'2025-11-01' AS Date), CAST(N'08:00:00' AS Time), CAST(N'17:00:00' AS Time), CAST(8.00 AS Decimal(5, 2)), CAST(0.00 AS Decimal(5, 2)), NULL, N'Approved')
INSERT [dbo].[Timesheets] ([TimesheetID], [EmployeeID], [WorkDate], [CheckIn], [CheckOut], [HoursWorked], [OvertimeHours], [LeaveType], [Status]) VALUES (2, 1, CAST(N'2025-11-02' AS Date), CAST(N'08:00:00' AS Time), CAST(N'19:00:00' AS Time), CAST(8.00 AS Decimal(5, 2)), CAST(2.00 AS Decimal(5, 2)), NULL, N'Approved')
INSERT [dbo].[Timesheets] ([TimesheetID], [EmployeeID], [WorkDate], [CheckIn], [CheckOut], [HoursWorked], [OvertimeHours], [LeaveType], [Status]) VALUES (3, 2, CAST(N'2025-11-01' AS Date), CAST(N'08:15:00' AS Time), CAST(N'17:15:00' AS Time), CAST(8.00 AS Decimal(5, 2)), CAST(0.00 AS Decimal(5, 2)), NULL, N'Approved')
SET IDENTITY_INSERT [dbo].[Timesheets] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Accounts__536C85E46ADD70A0]    Script Date: 11/12/2025 6:29:49 PM ******/
ALTER TABLE [dbo].[Accounts] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_Employees_Department]    Script Date: 11/12/2025 6:29:49 PM ******/
CREATE NONCLUSTERED INDEX [IDX_Employees_Department] ON [dbo].[Employees]
(
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_Employees_Name]    Script Date: 11/12/2025 6:29:49 PM ******/
CREATE NONCLUSTERED INDEX [IDX_Employees_Name] ON [dbo].[Employees]
(
	[FullName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_Payrolls_Employee]    Script Date: 11/12/2025 6:29:49 PM ******/
CREATE NONCLUSTERED INDEX [IDX_Payrolls_Employee] ON [dbo].[Payrolls]
(
	[EmployeeID] ASC,
	[PayDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_Timesheets_Employee]    Script Date: 11/12/2025 6:29:49 PM ******/
CREATE NONCLUSTERED INDEX [IDX_Timesheets_Employee] ON [dbo].[Timesheets]
(
	[EmployeeID] ASC,
	[WorkDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ActivityLogs] ADD  DEFAULT (getdate()) FOR [ActionTime]
GO
ALTER TABLE [dbo].[Departments] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Leaves] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Payrolls] ADD  DEFAULT (getdate()) FOR [PayDate]
GO
ALTER TABLE [dbo].[Timesheets] ADD  DEFAULT ('Approved') FOR [Status]
GO
ALTER TABLE [dbo].[ActivityLogs]  WITH CHECK ADD FOREIGN KEY([AccountID])
REFERENCES [dbo].[Accounts] ([AccountID])
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD FOREIGN KEY([AccountID])
REFERENCES [dbo].[Accounts] ([AccountID])
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Departments] ([DepartmentID])
GO
ALTER TABLE [dbo].[Leaves]  WITH CHECK ADD FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Accounts] ([AccountID])
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD FOREIGN KEY([TargetDepartmentID])
REFERENCES [dbo].[Departments] ([DepartmentID])
GO
ALTER TABLE [dbo].[Payrolls]  WITH CHECK ADD FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Timesheets]  WITH CHECK ADD FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD CHECK  (([Role]='Employee' OR [Role]='Admin'))
GO
USE [master]
GO
